@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(-45deg,#070838, #16124b, #380822, #372652);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.background-opacity{
  background: rgba(96, 0, 151, 0.1);
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15))
}
.left-div{
  border-bottom-left-radius: 9999px;
  border-top-left-radius: 9999px;
  border-color: #372652;
}
.left-div:hover{
  border: none;
  cursor: pointer;
}
.right-div{
  border-bottom-right-radius: 9999px;
  border-top-right-radius: 9999px;
}
/* .banner-wrap {
  background-image: url("./assets/night.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  
} */
.cardBackground{
  background-image: url("./assets/pattern.png");
  background-size: cover;
  background-repeat: no-repeat;

}
.rotate_img{
  
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  
}
.fadeRightMini {
  animation: fadeRightMini 2s;
  animation-fill-mode: both;
}
.fadeLeftMini {
  animation: fadeLeftMini 2s;
  animation-fill-mode: both;
}
@keyframes fadeLeftMini {
  0% {
    opacity: 0;
    transform: translate3d(-40%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeRightMini {
  0% {
    opacity: 0;
    transform: translate3d(40%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}